.container{
    background: color #f5f5;;
    margin-bottom: 50px;

}

.container-fluid{
    background-color: bisque;


}

.col-12{
    border: 1px solid #000; ;
}


.progress{
    margin-bottom: 20px;
}